
/* Poppins */

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ExtraBold.woff');
    src: local('Poppins-ExtraBold') local('Poppins ExtraBold'),
        url('../fonts/Poppins-ExtraBold.woff') format('woff');
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.woff');
    src: local('Poppins-Bold') local('Poppins Bold'),
        url('../fonts/Poppins-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.woff');
    src: local('Poppins-SemiBold') local('Poppins SemiBold'),
        url('../fonts/Poppins-SemiBold.woff') format('woff');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.woff');
    src: local('Poppins-Medium') local('Poppins Medium'),
        url('../fonts/Poppins-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff');
    src: local('Poppins-Regular') local('Poppins Regular'),
        url('../fonts/Poppins-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Italic.woff');
    src: local('Poppins-Italic') local('Poppins Italic'),
        url('../fonts/Poppins-Italic.woff') format('woff');
    font-style: italic;
    font-weight: 400;
    font-display: swap;
}

/* Manrope */

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-ExtraBold.woff');
    src: local('Manrope-ExtraBold') local('Manrope ExtraBold'),
        url('../fonts/Manrope-ExtraBold.woff') format('woff');
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Bold.woff');
    src: local('Manrope-Bold') local('Manrope Bold'),
        url('../fonts/Manrope-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-SemiBold.woff');
    src: local('Manrope-SemiBold') local('Manrope SemiBold'),
        url('../fonts/Manrope-SemiBold.woff') format('woff');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Medium.woff');
    src: local('Manrope-Medium') local('Manrope Medium'),
        url('../fonts/Manrope-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Regular.woff');
    src: local('Manrope-Regular') local('Manrope Regular'),
        url('../fonts/Manrope-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

/* Inter */

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.woff');
    src: local('Inter-Bold') local('Inter Bold'),
        url('../fonts/Inter-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-SemiBold.woff');
    src: local('Inter-SemiBold') local('Inter SemiBold'),
        url('../fonts/Inter-SemiBold.woff') format('woff');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Medium.woff');
    src: local('Inter-Medium') local('Inter Medium'),
        url('../fonts/Inter-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.woff');
    src: local('Inter-Regular') local('Inter Regular'),
        url('../fonts/Inter-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

/* Other */

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/PlusJakartaSans-Medium.woff');
    src: local('PlusJakartaSans-Medium') local('PlusJakartaSans Medium'),
        url('../fonts/PlusJakartaSans-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../fonts/PublicSans-Bold.woff');
    src: local('PublicSans-Bold') local('PublicSans Bold'),
        url('../fonts/PublicSans-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Medium.woff');
    src: local('Quicksand-Medium') local('Quicksand Medium'),
        url('../fonts/Quicksand-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff');
    src: local('Roboto-Bold') local('Roboto Bold'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff');
    src: local('Roboto-Regular') local('Roboto Regular'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

html {
    box-sizing: border-box;
}

*, 
*::after, 
*::before {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 0;
}


.link-reset {
    color: inherit;
    text-decoration: none;
}

.list-reset {
    padding: 0;
    list-style: none;
}

.button-reset {
    padding: 0;
    border: none;
    background-color: transparent;
}

:root {
    --gray-text: #606060;
    --light-gray: #cbcbcb;
    --white: #ffffff;
    --white-text: #f9f9f9;
    --purple: #6c5fbc;
}

/* header */

.header__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 96px ;
}

.header__content {
    display: flex;
    align-items: center;
    padding: 48px 0 24.6px;
    border-bottom: 1px solid var(--light-gray);
}

.header__logo {
    margin-right: 103.12px;
}

.nav__list {
    display: flex;
    gap: 53.49px;
}

.header__nav .nav__link {
    font-family: 'Inter';
    font-size: 17.83px;
    font-weight: 500;
    line-height: 26.7px;
    color: var(--gray-text);
}

.header__authorization {
    margin-left: auto;
}

.autorization__button {
    padding: 17.83px 26.74px;
    font-family: 'Inter';
    font-size: 17.83px;
    font-weight: 700;
    line-height: 26.7px;
    color: transparent;
    border-radius: 17.83px;
}

.autorization__button_login {
    color: var(--gray-text);
}
.autorization__button_sign-up {
    color: var(--white-text);
    background-color: var(--purple);
}