
/* Poppins */

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ExtraBold.woff');
    src: local('Poppins-ExtraBold') local('Poppins ExtraBold'),
        url('../fonts/Poppins-ExtraBold.woff') format('woff');
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.woff');
    src: local('Poppins-Bold') local('Poppins Bold'),
        url('../fonts/Poppins-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.woff');
    src: local('Poppins-SemiBold') local('Poppins SemiBold'),
        url('../fonts/Poppins-SemiBold.woff') format('woff');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.woff');
    src: local('Poppins-Medium') local('Poppins Medium'),
        url('../fonts/Poppins-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff');
    src: local('Poppins-Regular') local('Poppins Regular'),
        url('../fonts/Poppins-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Italic.woff');
    src: local('Poppins-Italic') local('Poppins Italic'),
        url('../fonts/Poppins-Italic.woff') format('woff');
    font-style: italic;
    font-weight: 400;
    font-display: swap;
}

/* Manrope */

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-ExtraBold.woff');
    src: local('Manrope-ExtraBold') local('Manrope ExtraBold'),
        url('../fonts/Manrope-ExtraBold.woff') format('woff');
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Bold.woff');
    src: local('Manrope-Bold') local('Manrope Bold'),
        url('../fonts/Manrope-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-SemiBold.woff');
    src: local('Manrope-SemiBold') local('Manrope SemiBold'),
        url('../fonts/Manrope-SemiBold.woff') format('woff');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Medium.woff');
    src: local('Manrope-Medium') local('Manrope Medium'),
        url('../fonts/Manrope-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Regular.woff');
    src: local('Manrope-Regular') local('Manrope Regular'),
        url('../fonts/Manrope-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

/* Inter */

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.woff');
    src: local('Inter-Bold') local('Inter Bold'),
        url('../fonts/Inter-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-SemiBold.woff');
    src: local('Inter-SemiBold') local('Inter SemiBold'),
        url('../fonts/Inter-SemiBold.woff') format('woff');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Medium.woff');
    src: local('Inter-Medium') local('Inter Medium'),
        url('../fonts/Inter-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.woff');
    src: local('Inter-Regular') local('Inter Regular'),
        url('../fonts/Inter-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

/* Other */

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/PlusJakartaSans-Medium.woff');
    src: local('PlusJakartaSans-Medium') local('PlusJakartaSans Medium'),
        url('../fonts/PlusJakartaSans-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../fonts/PublicSans-Bold.woff');
    src: local('PublicSans-Bold') local('PublicSans Bold'),
        url('../fonts/PublicSans-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Medium.woff');
    src: local('Quicksand-Medium') local('Quicksand Medium'),
        url('../fonts/Quicksand-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff');
    src: local('Roboto-Bold') local('Roboto Bold'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff');
    src: local('Roboto-Regular') local('Roboto Regular'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

html {
    box-sizing: border-box;
}

*, 
*::after, 
*::before {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 0;
}


.link-reset {
    color: inherit;
    text-decoration: none;
}

.list-reset {
    padding: 0;
    list-style: none;
}

.button-reset {
    padding: 0;
    border: none;
    background-color: transparent;
}

.title, .subtitle, .descr {
    margin: 0;
}

.colored-text {
    color: var(--purple-text);
}

.nav__list {
    display: flex;
    gap: 53.49px;
}


:root {
    --dark-text: #201f1f;
    --gray: #676767;
    --gray-text: #606060;
    --light-gray: #cbcbcb;
    --white: #ffffff;
    --white-text: #f9f9f9;
    --purple: #6c5fbc;
    --purple-text: #5c4eae;
    --tranparent-text: rgba(32, 31, 31, 20%);
}

/* header */

.header {
    margin-bottom: 49px;
}

.header__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 96px ;
}

.header__content {
    display: flex;
    align-items: center;
    padding: 48px 0 24.6px;
    border-bottom: 1px solid var(--light-gray);
}

.header__logo {
    margin-right: 103.12px;
}

.header__nav .nav__link {
    font-family: 'Inter';
    font-size: 17.83px;
    font-weight: 500;
    line-height: 26.7px;
    text-transform: capitalize;
    color: var(--gray-text);
}

.header__authorization {
    margin-left: auto;
}

.autorization__button {
    padding: 17.83px 26.74px;
    font-family: 'Inter';
    font-size: 17.83px;
    font-weight: 700;
    line-height: 26.7px;
    text-transform: capitalize;
    color: transparent;
    border-radius: 17.83px;
}

.autorization__button_login {
    color: var(--gray-text);
}

.autorization__button_sign-up {
    color: var(--white-text);
    background-color: var(--purple);
}

/* hero */

.hero__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 58.52px 0 96px;
}

.hero__block_left {
    max-width: 568px;
}

.hero__text {
    margin-bottom: 53px;
}

.hero__info {
    position: relative;
    margin-bottom: 18px;
    padding-left: 74px;
    font-size: 15px;
    font-weight: 600;
    color: var(--tranparent-text);
}

.hero__info::before {
    position: absolute;
    top: 50%;
    left: 0px;
    content: '';
    width: 54px;
    height: 1px;
    background-color: var(--tranparent-text);
}

.hero__title {
    margin-bottom: 16px;
    font-size: 75px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -3px;
    text-transform: capitalize;
    color: var(--dark-text);
}

.hero__descr {
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: var(--gray);
}

.hero__descr .colored-text {
    font-weight: 500;
}

.hero__btns {
    display: flex;
    gap: 18px;
    margin-bottom: 33px;
    max-width: max-content;
}

.hero__button {
    font-size: 16.27px;
    font-weight: 400;
    letter-spacing: 1%;
    border-radius: 12.41px;
}

.hero__button_colored {
    padding: 18px 31px 17px 30px;
    color: var(--white);
    background-color: var(--purple);
}

.hero__button_transparent {
    padding: 18px 28px 17px 27px;
    color: var(--purple-text);
    border: 1.5px solid var(--purple);
}